.swiper{
    padding: 20px;
    width: 70vw !important;
}

@media screen and (min-width: 200px) {
    .swiper-container {
        width: 200px;
    }
}

@media screen and (max-width: 1050px) {
    .swiper{
        width: 30vw!important;
    }
    .swiper-container {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .swiper{
        width: 70vw!important;
    }

}