.content{
    margin-top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr;
}
.content--images-left,
.content--images-right{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px #eaeaea;
    background: white;
}
.content--images-left img,
.content--images-right img{
    min-width: 100px;
    width: 60%;
    max-width: 100%;
}
.one {
    position: absolute;
    top: 35%;
    z-index: 11;
}

.two {
    position: absolute;
    top: 75%;
    right:40%;
    z-index: 11;

}

.three{
    position: absolute;
    top: 50%;
    z-index: 11;

}

.four{
    position: absolute;
    top: 15%;
    z-index: 11;
    animation: move-to-the-side 2000ms infinite;

}

.five{
    position: absolute;
    top: 25%;
    z-index: 11;
}

.six {
    position: absolute;
    top: 75%;
    z-index: 11;

}

.seven{
    position: absolute;
    top:50%;
    z-index: 11;
    animation: clockwise-movement 1000ms infinite;
}
.eight{
    position: absolute;
    top: 10%;
    z-index: 11;
}
.content--images-left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px #eaeaea;
    background: white;
}
.display-none{
    display: none;
}
@media (max-width: 600px) {
.content{
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr;
}
    .content--main{
        grid-row: 1 / 2;
    }
    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight{
        display: none;
    }
}
@media (max-width: 1000px) {
    .content{
        grid-template-columns: 1fr 325px 1fr;
    }
    .content--images-left img,
    .content--images-right img{
        min-width: 100px;
        width: 40%;
        max-width: 100%;
    }
}

@keyframes move-to-the-side {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes move-to-the-side {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes clockwise-movement {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(25px, 0px);
    }
    50% {
        transform: translate(25px, 25px);
    }
    75% {
        transform: translate(0px, 25px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}